* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #458ff6;
  --title-color: #000000;
  --text-color: #7d7987;
  --alt-text-color: #ffffff;
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 24px;
  --h4-size: 20px;
  --text-size: 18px;
  --padding-section: 75px 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section {
  padding: var(--padding-section);
}
.title-section {
  position: relative;
  padding-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
.title-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--title-color);
}
.description {
  margin: 40px 0;
  text-align: center;
  line-height: 1.5;
  color: var(--text-color);
}
.btn {
  display: block;
  width: 150px;
  margin: 30px auto 0 auto;
  padding: 15px;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  color: var(--main-color);
}
.btn:hover {
  color: var(--alt-text-color);
  background-color: var(--main-color);
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px 0;
  box-shadow: 0px 1px 1px 0px #0000005a;
  background-color: var(--alt-text-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: var(--title-color);
}
header .logo span {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  color: var(--alt-text-color);
  background-color: var(--main-color);
}
header ul li a {
  color: var(--text-color);
}
@media (max-width: 991px) {
  header nav {
    position: relative;
  }
  nav label img {
    cursor: pointer;
  }
  nav input {
    appearance: none;
  }
  nav input:checked + ul {
    display: block;
  }
  header ul {
    display: none;
    min-width: 200px;
    position: absolute;
    top: 49px;
    right: 0;
    background-color: var(--title-color);
  }
  header ul li a {
    display: block;
    padding: 8px 15px;
    color: var(--alt-text-color);
  }
  header ul li:not(:last-child) {
    border-bottom: 1px solid rgba(253, 253, 253, 0.616);
  }
}
@media (min-width: 992px) {
  nav label,
  nav input {
    display: none;
  }
  nav ul {
    display: flex;
    gap: 25px;
  }
  nav ul li .active {
    color: var(--title-color);
  }
}
.hero,
.our-services {
  position: relative;
}
.hero .container {
  gap: 100px;
}
.hero .info h1 {
  font-size: 40px;
}
.hero .info p {
  margin: 25px 0;
  line-height: 1.5;
  color: var(--text-color);
}
.hero .info a {
  margin: 0;
  color: var(--alt-text-color);
  background-color: var(--main-color);
}
@media (max-width: 991px) {
  .images {
    display: none;
  }
}
@media (min-width: 992px) {
  .info {
    width: 45%;
  }
  .images {
    width: 45%;
  }
  .images img:first-child {
    width: 550px;
  }
  .hero .container .images img:last-child {
    position: absolute;
    top: 20%;
    left: -50px;
  }
}
.our-services .services-list {
  gap: 35px;
}
.our-services .services-list .service {
  width: 350px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0px 1px 1px 0px #0000005a;
  background-color: var(--alt-text-color);
}
.services-list .service h3 {
  margin: 25px 0;
}
.services-list .service p {
  line-height: 1.5;
  color: var(--text-color);
}
@media (max-width: 991px) {
  .our-services .image {
    display: none;
  }
}
@media (min-width: 992px) {
  .our-services .image img {
    width: 650px;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -2;
  }
}
.healthcare .container {
  gap: 100px;
}
.healthcare .info .title-section {
  text-align: left;
}
.healthcare .info .title-section::before {
  left: 50px;
}
.healthcare .info .description {
  text-align: left;
}
.healthcare .btn {
  margin: 0;
}
